@font-face {
  font-family: 'Pally-Medium';
  src: url('../fonts/Pally-Medium.woff2') format('woff2'),
       url('../fonts/Pally-Medium.woff') format('woff'),
       url('../fonts/Pally-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.fonts-loader
    position fixed
    top calc(100% + 1px)
    left 0

    .nunito
        font-family "Nunito", sans-serif
        font-optical-sizing auto
        font-weight 400
        font-style normal

    .amatic-sc
        font-family "Amatic SC", sans-serif
        font-weight 700

    .pally
        font-family "Pally-Medium", sans-serif
        font-weight 500
